.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    height: 50px;
    border: 1px solid #000000;
}

.progress {
    width: 0px;
    height: 50px;
    background-color: blue;
}

button {
    margin-top: 30px;
}