.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    height: 50px;
    border: 1px solid #000000;
}

.progress {
    width: 0px;
    height: 50px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

button {
    margin-top: 30px;
}